body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./img/background.jpg);
    height: 100vm;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE3640;
    height: 50px;
}

.navBar img {
    height: 30px;
}

.searchsection {
    height: 30px;
    display: flex;
    align-items: center;
}

#pokedex {
    /*# spricht eine ID an und keine Klasse!!*/
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 30px;
}

.card {
    background-color: #FB6C6C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 24px 0 24px;
    border-radius: 20px;
    width: 300px;
    margin: 0 30px 30px 0;
    background-image: url(/img/bg-cards.png);
    background-repeat: no-repeat;
    background-size: 190px;
    background-position-x: 160px;
    background-position-y: 70px;
}

.card:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #FFFFFF);
}

.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cardTop span {
    font-weight: bold;
    color: rgb(60, 59, 59);
    font-size: 22px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardType {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30px;
    width: 50px;
    background-color: black;
    border-radius: 43px;
    padding: 8px;
    color: white;
}

.cardBottom img {
    width: 60%;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px #222);
    /*neuer Schatten einstellen!!*/
}

.BtnSection {
    display: flex;
    justify-content: center;
}

#BtnLoad {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #FE3640;
}

#BtnLoad:hover {
    cursor: pointer;
    background-color: #f95e66;
}

#overallDetailCard {
    position: absolute;
    top: 10vh;
    left: 20vh;
}

.detailCard {
    background-color: green;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 24px 0 24px;
    width: 350px;
    background-image: url(/img/bg-cards.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 200px;
    background-position-y: 190px;
}

.closeDetailCard:hover {
    cursor: pointer;
}

.detailType {
    display: flex;
    gap: 15px;
}


.infoContainer {
    background-color: white;
    border-radius: 40px;
    min-height: 200px;
    margin-top: -40px;
    padding: 40px 0;
}

.imgPositiion {
    display: flex;
    justify-content: center;
}

.detailImg {
    width: 70%;
}

.infoMenü {
    display: flex;
    justify-content: space-around;
    color: rgb(96, 96, 96);    
    font-weight: bold;
}

.infoMenü span:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline blue 2px;
    text-underline-offset: 10px;
}